:root {
    --shadow: 0px 5px 8px rgb(177, 148, 137);
    --transition: all 0.4s ease-in;
    --border: 2px solid white;
    --border-radius: 0.5rem;
    --border-color: rgb(180, 99, 99, 0.5);
    --primary-colour: rgb(223, 43, 43);
    --secondary-colour: rgb(233, 8, 8);
    --tertiary-colour: rgb(41, 34, 34);
    --spacing: 2px;
    --color-white: white;
    --radius: 0.5rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(199, 209, 230);
}
h3{
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.btn {
  text-transform: uppercase;
  background: var(--primary-colour);
  color: white;
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--border-color);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: whitesmoke;
  background: black;
  border-color: var(--border-color);
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    margin-top: 5rem;
    text-align: center;
  }
.lorem-form {
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label {
    font-size: 1.25rem;
    color: var(--clr-primary-1);
  }
  input {
    padding: 0.25rem 0.5rem;
    width: 4rem;
    border-radius: var(--radius);
    border: none;
    margin: 0 0.5rem;
    font-size: 1.25rem;
  }
  button {
    background: var(--tertiary-colour);
  }

  .result {
    margin-bottom: 2rem;
  }